body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
th {
  text-align: center;
  border: 1px solid black;
  background: #018ded;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  padding: 40px;
}
html {
  background-color: lightgreen;
}
.Link {
  color: black;
  text-decoration: none;
  text-align: center;
  list-style-type: none;
}
.Link2 {
  color: white;
  text-decoration: none;
  text-align: center;
  list-style-type: none;
}
.Input {
  width: 35%;
  height: 25px;
  border: 2px solid red;
  border-radius: 4px;
}
.App2 {
  min-height: 100vh;
  
}